<div class="card mb-3" style="max-width: 1050px;">
    <div class="row no-gutters">
        <form class="form-inline my-2 my-lg-0">
            <img src="https://bucketimgen2.s3.amazonaws.com/{{comentarios.usuario}}.jpg" width="25" height="30" alt="../../../assets/Imagen/avatar.png">
            <h6 class="card-title">{{comentarios.usuario}}:</h6>
        </form>
        <div class="row">
            <div class="card-body">
                <p class="card-text">{{comentarios.comentario}} </p>
            </div>
        </div>
    </div>
</div>