<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h6 class="text-muted lead">Realizado por:</h6>
            <h6 class="text-muted">
                Manuel Fajardo;<br> Fredy Vásquez<br> Curso: M5A<br>
            </h6>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="pull-right">
                <h6 class="text-muted lead">Tecnológico del Azuay</h6>
                <div class="redes-footer">
                    <a href="https://www.tecazuay.edu.ec/main/index.php"><img src="../../../../assets/Imagen/ista2.jpg" width="35" height="30"></a>
                </div>
            </div>
            <div class="row">
                <p class="text-muted small text-right">Tendencias Actuales de Programación<br> Proyecto Final</p>
            </div>
        </div>
    </div>
</div>