@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    background-image: url('https://www.wallpapertip.com/wmimgs/4-45448_mac-abstract-wallpaper-white.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}