<div class="card mb-3" style="max-width: 1090px;">
    <div class="row no-gutters">
        <form class="form-inline my-2 my-lg-0">
            <img src="https://bucketimgen2.s3.amazonaws.com/{{publicaciones.usuario}}.jpg" width="25" height="30" alt="../../../assets/Imagen/avatar.png">
            <h5 class="card-title">{{publicaciones.usuario}}</h5>
        </form>
        <div class="row">
            <div class="col-sm-6">
                <img class="card-img-top" src="https://bucketimgen2.s3.amazonaws.com/{{publicaciones.usuario}}_{{publicaciones.id}}.jpg" alt="Card image cap">
            </div>
            <div class="col-sm-6">
                <div class="card-body">
                    <p class="card-text">{{publicaciones.publicacion}} </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha: {{publicaciones.fecha}}</li>
                    </ul>
                    <audio src="https://bucketaudiotap.s3.amazonaws.com/{{publicaciones.usuario}}_{{publicaciones.id}}.mp3" type="audio/mpeg" controls="controls" type="audio/mpeg" preload="preload">
                </audio>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <h5 class="card-title">Comentarios:</h5>
        <div align="center" class="row row-cols-1">
            <app-tarjeta-comentario [comentarios]="comentario" *ngFor="let comentario of comentarios let id=index;" [indice]="id"></app-tarjeta-comentario>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Comentario" aria-label="Comentario" aria-describedby="basic-addon2" [(ngModel)]="model.comentario">
            <div class="input-group-append">
                <button (click)="registrarComentario()" class="btn btn-outline-secondary" type="button">Comentar</button>
            </div>
        </div>
    </div>
</div>